body {
    background-color: rgb(0, 131, 155);
    font-family: "Montserrat", sans-serif;
}
.table th, .table td { 
    border-top: none !important; 
}

th {
    font-size: 20px;
    margin-right: 50px;
    
}
.train-table {
    font-size: 20px;
}

.card-header {
    background-color: none;
    color: white;
    font-size: 20px;
}

.table {
    color: white;
    margin-top: 25px;
}

.display-4 {
    color: white;
    font-size: 9rem;
    text-align: center;
    font-family: "Alfa Slab One", sans-serif;

}
.center {
    text-align: center;
}

.lead {
    color: white;
    font-size: 2.5rem;
    
}

.form-group {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;

}
label {
    font-size: 20px;
}
#btnLogout {
    float: right;
    background-color: rgb(28, 165, 189);
    color: white;
}
#btnLogout:hover {
    background-color: rgb(0, 98, 116);
}
.hide {
    display: none;
}
.login {
    display: none;
}
h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
}
#trainName {
    font-size: 20px;
}
.card {
    background-color: transparent;
}
.form-control {
    color: rgb(0, 131, 155);
}
.btn {
    background-color: white;
    color: rgb(0, 131, 155);
    border: none;
    
}
.btn:hover {
    background-color:rgb(0, 98, 116);
    color: white;
}
form {
    margin-top: 37px;
}