body {
    background-color: lightcyan;
    font-family: "Krub", sans-serif;
}
th {
    font-size: 24px;
}
.train-table {
    font-size: 20px;
}

.card-header {
    background-color: #343a40;
    color: white;
    font-size: 24px;
}

.table {
    color: #343a40;
}

.display-4 {
    color: white;
    font-size: 9rem;
    text-align: center;

}
.center {
    text-align: center;
    font-weight: bold;
}

.lead {
    color: white;
    font-size: 2.5rem;
    
}

.jumbotron {
    background-color: #343a40;
    padding: 30px;
}
.form-group {
    font-size: 20px;

}
label {
    font-size: 24px;
    font-weight: bold;

}
#trainName {
    font-size: 20px;
}